/*
Colors
Background Dark: #232425
Background Light: #CBCEE4
Text: #eceefb
*/
html{
  width: 100%;
}

/* Layout */
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Monda', sans-serif;
  color: #eceefb;
  background-color: #232425;
}

/*Navbar*/
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px;
  background-color: #232425;
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  line-height: 2em;
}
nav h1{
  margin: 0;
}

.nav-title{
  color: #ec9443;
}

/* Header */

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #232425;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../img/default-bg.jpg");
}

.headline{
  background-color: rgba(227, 227, 227, 0.5);
  padding: 3em;
}

header h1{
  color: #ec9443;
  font-size: 4em;
  -o-text-shadow: 2px 2px 1px rgba(0, 0, 0, .75);
  -moz-text-shadow: 2px 2px 1px rgba(0, 0, 0, .75);
  -webkit-text-shadow: 2px 2px 1px rgba(0, 0, 0, .75);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .75);
}

header h2{
  color: white;
  -o-text-shadow: 2px 2px 1px rgba(0, 0, 0, .75);
  -moz-text-shadow: 2px 2px 1px rgba(0, 0, 0, .75);
  -webkit-text-shadow: 2px 2px 1px rgba(0, 0, 0, .75);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .75);
}

/* Main */

main{
  width: 100%;
  align-items: center;
  background-color: #232425;
}

section{
padding: 4em;
}

.social-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#portfolio{
  /* background-color: #FFF; */
}

.slideshow{
  height: 100vh;
}

.slides{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75%;
}

footer{

}

/* Images */
.logo{
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

/* Typography */
h1,h2,h3,h4{
  text-align: center;
}

h1{
  color: #ec9443;
  font-size: 3em;
}

nav h1{
  font-size: 1.5em;
}

main h1{
}

a{
  color: inherit;
  text-decoration: none;
  color: #ec9443;
  transition: all .5s;
}

a:hover{
  color: #eceefb;
  font-size: 1.15em;
}

p{
  letter-spacing: .15em;
  margin: 2em;
}

ul{
  padding-left: 0;
  list-style-type: none;
}

li{
  margin-right: 1em;
}

i{
  font-size: 2em;
}

em{
  color: #ec9443;
}


/*Form*/
main form {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

textarea {
  margin-top: 8px;
  width: inherit;
  height: 10em;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 12px;
  padding: 8px;
  color: #7C878E;
  border: 3px solid #7C878E;
  font-weight: bold;
}

input {
  font-size: 12px;
  padding: 8px;
  background: #FFF;
  color: #7C878E;
  border: 3px solid #7C878E;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  margin-top: 8px;
}

main input[type="submit"]{
  width: 100%;
}

.email input{
  width: 300px;
  margin-right: 20px;
}
