<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <title>Cat Collectr</title>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href=""></a>Home</li>
        <li><a href="{% url 'cats' %}">Cats</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'my_cats' %}">My Cats</a></li>
          <li><a href="{% url 'add_cat' %}">Add a Cat</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>
    </nav>

    <main>
      {% block content %}
      {% endblock %}
    </main>

  </body>
</html>
