<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Tunr</title>
  <link rel="stylesheet" href="{% static 'css/tunr.css' %}">
</head>

<body>
  <h1>Tun.r</h1>
  <nav>
    <a href='/artists'>Artists</a>
    <a href='/songs'>Songs</a>
  </nav>

  {% extends 'tunr/base.html' %}

  {% block content %}
  <h2>Artists <a href="{% url 'artist_create' %}">(+)</a></h2>
  <ul>
    {% for artist in artists %}
    <li>
      <a href="{% url 'artist_detail' pk=artist.id %}">{{ artist.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endblock %}
</body>

</html>
