
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

header{
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1{
  margin: 0;
}
button{
  margin: .5em;
  font-size: 1em;
  padding: .4em;
  background-color: rgb(189, 134, 199);
  color: #FFF;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: .15em;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}