html{
  width: 100%;
}

body{
  margin: 0;
  text-align: center;
  background-color: #121212;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
}

body::-webkit-scrollbar{
  width: 8px;
  background: -webkit-linear-gradient(bottom, #5ee7df 0%, #7E44FF 100%);
  background: -o-linear-gradient(bottom, #5ee7df 0%, #7E44FF 100%);
  background: linear-gradient(to top, #5ee7df 0%, #7E44FF 100%);
}

body::-webkit-scrollbar-thumb{
  width: 2px;
  height: 2px;
  border-radius: 3px;
  background-color: #FFF;
}

main{
  display:flex;
  flex-direction: column;
}

form{
  position: sticky;
  top: 0;
  background-color: #121212;
  padding: 6px;
}

label{
  text-transform: uppercase;
  margin-right: 4px;
}

input[type="text"]{
  color: #707070;
  font-size: 1em;
  padding: 6px;
  border: 0px solid #FFF;
  border-radius: 3px;
}

input[type="submit"]{
  background-color: #7E44FF;
  border: 0px solid #FFF;
  border-radius: 3px;
  color: #FFF;
  font-size: 1em;
  padding: 6px;
  transition: all .5s;
}
input[type="submit"]:hover{
  background-color: #5ee7df;
}

img{
  display: block;
  max-width: 500px;
  margin: 0 auto;
  padding: 1em;
}

.gif-gallery{
  margin-top: 2em;
}

h1{
  font-family: 'Sigmar One', cursive;
  font-size: 4em;
  color: #5ee7df;
  background: -webkit-linear-gradient(bottom, #5ee7df 0%, #7E44FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
