<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="styles/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1>Big Boys</h1>
    <ul class="wasps"></ul>
    <ul class="stings"></ul>

    <script
			  src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
        <script src="scripts/app.js"></script>
      </body>
</html>
