{% extends 'base.html' %}

{% block content %}
<h2>Welcome to Cat Collectr!</h2>
  {% if error %}
    <p>
      {{ error }}
    </p>
  {% endif %}

<form method="POST" action="{% url 'register' %}">
  {% csrf_token %}
  <input type="text" name="first_name" required maxlength="25" minlength="2" placeholder="First Name"/>
  <input type="text" name="last_name" required maxlength="25" minlength="2" placeholder="Last Name"/>
  <input type="email" name="email" required maxlength="25" minlength="2" placeholder="Email"/>
  <input type="text" name="username" required maxlength="25" minlength="2" placeholder="Username"/>
  <input type="password" name="password" required maxlength="25" minlength="2" placeholder="Password"/>
  <input type="password" name="password2" required maxlength="25" minlength="2" placeholder="Re-enter password"/>
  <input type="submit" placeholder="Submit"/>
</form>
{% endblock %}
