html{

}

/* Layout */

body{
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing:border-box;
  background-size: cover;
  background-image: url('../img/mtg1.jpg');
  background-attachment: fixed;
  background-position: center;
  font-family: 'Jura', sans-serif;
  text-align: center;
}

/* Typography */
h1,h2,h3,h4,h5,h6{
  text-align: center;
}

h1{
  font-family: 'Ruslan Display', cursive;
  font-size: 3em;
}

nav h1{
  font-size: 1.5em;
}

header h1{
  font-size:6em;
  letter-spacing: normal;
  margin-bottom: 10px;
}

header h2{
  font-size: 2em;
  font-weight: 700;
}
main h1, h2{
  margin: 0;
}

p{
  font-size: 1.25rem;
}

a{
  text-transform: uppercase;
  text-decoration: none;
}

a:hover{
  color: #F4A533;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

.line{
  height: 2px;
  width: 100%;
  background: radial-gradient(circle, rgba(156,0,0,1) 0%, rgba(255,153,5,0) 100%);;
}

/* Major Sections */

header{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  -o-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #FFF;
}

.menu{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 30px;
  margin-top: 75px;
}

.menuSection{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.menu article{
  max-width: 300px;
  margin: 10px;
}

section{
  margin-bottom: 3em;
  padding-top: 5em;
}

/* Aside */

aside{
  width: 25%;
  margin-top: 6em;
  padding-top: 5em;
  padding-right: 15px;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 4em;
}

.cart{
  text-align: left;
  color: #AE3126;
}

.cart li:hover{
  color: #F4A533;
}

/* Navbar */

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #FFF;
  position: fixed;
  margin-top:0;
  width: 100%;
}

.navLinks{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
}
nav li{
  padding: 8px;
}

nav h1{
  padding-left: 20px;
}

nav a{
  color: #FFF;
}

.hamburger{
  display: none;
}

.cartIcon{
  display: none;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
}


/* Footer */
footer{
  background-color:#000;
  color: #FFF;
}

/*Medium & Small Screens*/
@media only screen and (max-width: 720px){
  main{
    flex-direction: column;
    justify-content: center;
  }
  .menu{
    width: 100%;
    padding: 0;
  }
  .menu article{
    width: 100%;
  }
  .menuSection{
    width: inherit;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
  }
  aside{
    width:100%;
    display: none;
  }
  nav{
    padding: 0;
  }
  .cartIcon{
    display: block;
    margin-right: 20px;
  }
  .hamburger{
    width: 40px;
    margin-left: 20px;
    display: block;
  }
  .hamLine{
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    margin: 8px;
  }
  aside{
    display: none;
    position: fixed;
    top: 4em;
    margin: 1px;
    background-color: white;
  }
  aside h1{
    margin-top:.5em;
    font-size: 1.5em;
  }
  .cart{
    text-align: center;
  }
  .navLinks{
    position: absolute;
    top: 3em;
    width: 100%;
    background-color: black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
