/*
Color Palette:
Light Grey: #ffffff
Grey: #524d49
#524d49
Black: #24211f
*/
/* Fonts */
@font-face {
  font-family: 'Abel Regular';
  src: url('/design/fonts/Abel-Regular.ttf');
}

/* Global */
#{
 box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  background-color: #eeeae8;
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  line-height: 1.25em;
  color: #524d49;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 130px;
}

footer{
  padding: 2em;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
}

div {
  border-radius: 2px;
}

/* Typography */
a {
  color: #eeeae8;
  text-decoration: none;
  transition: all .5s;
}

a:hover{
  color: #ffc257;
}

a:focus {
  color: #24211f;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

h1, h2, h3 {
  font-weight: normal;
  font-family: 'Abel Regular', sans-serif;
}

/* Nav Bar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 1em;
  height: 113px;
  background-color: #524d49;
  color: #eeeae8;
  z-index: 999;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

nav li {
  margin: 2em 1em 0 1em;
}

nav a {
  font-size: 1.25em;
}

.dropdown {
  width: 60%;
}

.hamburger {
  height: 26px;
  width: 30px;
  display: none;
}

.hamLine {
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background-color: #eeeae8;
}

.logo {
  max-width: 68px;
}

.subscribe-button {
  font-family: 'Verdana', sans-serif;
  background-color: #eeeae8;
  color: #524d49;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: inherit;
}

/* Form */
input {
  border: 1px solid #eeeae8;
  background-color: #eeeae8;
  color: #524d49;
  border-radius: 8px;
  padding: 2px 6px;
  box-sizing: border-box;
  font-size: inherit;
  margin: .5em;
}

input:disabled {
  opacity: 0.6;
}

input:focus {
  border: 2px solid #ffc257;
}

input:invalid {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input[type="submit"] {
  margin: 0 auto;
  font-size: 1.2em;
  padding: 2px 6px;
}

.subscribe-wrapper {
  display: none;
  max-width: 500px;
  padding: 12px;
  position: fixed;
  top: 200px;
  align-self: center;
  justify-self: center;
  background-color: #524d49;
  color: #eeeae8;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(23, 32, 42, 0.48);
  -moz-box-shadow: 1px 1px 2px 0px rgba(23, 32, 42, 0.48);
  box-shadow: 1px 1px 2px 0px rgba(23, 32, 42, 0.48);
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 12px;
}

.subscribe-form a {
  color: #ffc257;
}

.names {
  display: flex;
  flex-direction: row;
}

.toc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toc p {
  padding-left: 1em;
}

.invalid {
  border: 2px solid rgb(251, 24, 24);
}

.check {
  background-color: #eeeae8;
  width: 1.2em;
  height: 1.2em;
  color: #524d49;
}

.close {
  color: #eeeae8;
  background-color: #24211f;
  font-size: 1.25em;
  line-height: 1.5em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}

/* Blog */
article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2em;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #524d49;
}

article img {
  width: 50%;
}

article h1 {
  text-align: left;
  margin: 0;
  font-size: 2em;
  margin: 10px;
}

article p {
  margin-bottom: 20px;
}

.content {
  margin-left: 3em;
  width: 50%;
}

/* Mobile */
@media only screen and (max-width: 720px) {
  nav>div {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  nav ul {
    align-items: center;
    flex-direction: column;
  }

  .hamburger {
    display: block;
  }

  .posts {
    margin-top: 20px;
  }

  article {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0;
    border: 0;
    margin-bottom: 40px;
  }

  article h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  article img {
    width: 100%;
  }

  .content {
    width: 90%;
    border-bottom: 1px solid #524d49;
    margin: 0 auto;
  }

  .dropdown {
    position: fixed;
    top: 113px;
    width: 100%;
    background-color: #524d49;
    display: none;
    padding-bottom: 1.5em;
  }

  .subscribe-wrapper {
    width: 80%;
  }
}
