/*
Color Palette:
Light Grey: #ffffff
Grey: #5F6870
Black: #17202A
*/
/* Fonts */

@font-face {
  font-family: 'Abel Regular';
  src: url('/design/fonts/Abel-Regular.ttf');
}

/* Global */
#{
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  background-color: #EEE8E8;
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  line-height: 1.25em;
  color: #5F6870;
}

main{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 130px;
}

img{
  max-width: 100%;
  height: auto;
  border-radius: 2px;
}

div{
  border-radius: 2px;
}

/* Typography */
a{
  color: #EAECEE;
  text-decoration: none;
}

a:focus{
  color: #17202A;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

h1, h2, h3{
  font-weight: normal;
  font-family: 'Abel Regular', sans-serif;
}

article h1{
  font-size: 2em;
  margin: 10px;
}


/* Nav Bar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 1em;
  height: 113px;
  background-color: #5F6870;
  color: #EAECEE;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

nav li {
  margin: 2em 1em 0 1em;
}

nav a{
  font-size: 1.25em;
}

.dropdown {
  width: 60%;
}

.hamburger {
  height: 26px;
  width: 30px;
  display: none;
}

.hamLine {
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background-color: #EAECEE;
}

.logo{
  max-width: 68px;
}


.subscribe-button{
  font-family: 'Verdana', sans-serif;
  background-color: #EAECEE;
  color: #5F6870;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: inherit;
}

/* Form */

input{
  border: 1px solid #EAECEE;
  background-color: #EAECEE;
  color: #5F6870;
  border-radius: 8px;
  padding: 2px 6px;
  box-sizing: border-box;
  font-size: inherit;
  margin: .5em;
}

input:disabled{
  opacity: 0.6;
}

input:focus{
  border: 2px solid #92bff4;
}

input[type="submit"]{
  margin: 0 auto;
  font-size: 1.2em;
  padding:  2px 6px;
}

.subscribe-wrapper{
  display: none;
  max-width: 500px;
  padding: 12px;
  position: fixed;
  top: 200px;
  align-self: center;
  justify-self: center;
  background-color: #5F6870;
  color: #EAECEE;

  -webkit-box-shadow: 1px 1px 2px 0px rgba(23,32,42,0.48);
-moz-box-shadow: 1px 1px 2px 0px rgba(23,32,42,0.48);
box-shadow: 1px 1px 2px 0px rgba(23,32,42,0.48);
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 12px;
}

.subscribe-form a{
  color: #92bff4;
}
.names{
  display:flex;
  flex-direction: row;
}

.toc{
  display:flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
}

.toc p{
  padding-left: 1em;
}

.invalid {
  border: 2px solid rgb(251, 24, 24);
}

.check{
  background-color: #EAECEE;
  width: 1.2em;
  height: 1.2em;
  color: #5F6870;
}

.close {
  color: #EAECEE;
  background-color: #17202A;
  font-size: 1.25em;
  line-height: 1.5em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}

/* Blog */
article{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2em;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #5F6870;
}

article img{
  width: 50%;
}

article h1{
  text-align: left;
  margin: 0;
}

article p{
  margin-bottom: 20px;
}

.content{
  margin-left: 3em;
  width: 50%;
}

/* Mobile */
@media only screen and (max-width: 720px) {
  nav>div{
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
  nav ul{
    align-items: center;
  }

  nav li{

  }

  .dropdown {
    display: none;
    padding-bottom: 1.5em;
  }
  .hamburger{
    display: block;
  }
  article{
    flex-direction: column;
    justify-content: center;
    width: 93%;
    padding: 0;
    border: 0;
  }

  article h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  article img{
    width: 100%;
  }

  .content{
    width:  90%;
    border-bottom: 1px solid #5F6870;
    margin: 0 auto;
  }
  .dropdown{
    position: fixed;
    top: 113px;
    width: 100%;
    background-color: #5F6870;
  }
  nav ul{
    flex-direction: column;
  }

  .subscribe-wrapper{
    width: 80%;
  }
}
