html{
  width:100%;
}

body{
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  text-align: center;
}

/* Layout */

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main{
  padding: 2em;
}

.instructions{
}

.game{
  display: flex;
  flex-basis: 0;
  flex-direction: column;
}

.puzzle{
  height: 25vh;
}

.message{
  height: 2em;
}

.win{
  display: none;
}

/*Typography*/

ul{
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 10px;
  padding-left: 0;
  width: 100%;
}

li{
  background-color: rgb(230, 54, 7);
  border-radius: 5px;
  color: white;
  margin: 6px;
  min-width: 2em;
  padding: 7px;
  text-align: center;
}

button{
  background-color: rgb(230, 54, 7);
  border-radius: 5px;
  color: white;
  font-size: 1em;
  margin: 6px;
  min-width: 2em;
  padding: 7px;
}

button:focus {
    outline:none;
}

.next{
  display: none;
}
