/* ----------------------------------------
Header
------------------------------------------- */
header h2 {
	font-size: 20.8px;
	font-size: 1.3rem;
	letter-spacing: 4.8px;
	letter-spacing: 0.3rem;
}

header {
	background-image: url('../images/aboutteamheader.jpg');
	background-size: cover;
	background-position: center;
}
