<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contacts App</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'home' %}">Home</a>
      {% if user.is_authenticated %}
        <a href="{% url 'contacts_list' %}">Contacts</a>
        <a href="{% url 'logout'%}">Logout</a>
      {% else %}
        <a href="{% url 'login'%}">Login</a>
        <a href="{% url 'register' %}">Register</a>
      {% endif %}
    </nav>
    {% block content %}
    {% endblock%}
  </body>
</html>
